<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Azure timetracker</string>
	<key>CFBundleExecutable</key>
	<string>AzureTimetracker</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>be.yarne.azure-timetracker</string>
	<key>CFBundleName</key>
	<string>Azure timetracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13.1</string>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Azure timetracker reads your calendars to show your daily agenda next to your tracked work. It does not change events or send them to Azure or 7pace.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Show your agenda beside your tracked work.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
